<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Spotify Orbeats</title>
		<link rel="stylesheet" type="text/css" href="/css/app.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js"></script>
	</head>
	<body>

        <nav class="navbar navbar-expand-lg navbar-dark black-bg">
        <div class="container justify-content-between">
			<a class="navbar-brand slick" href="/">
				<h4 style="display: inline-block">Home </h4>
                <i class="fa fa-music white"></i>
            </a>
            <div id="navbarSupportedContent">
                <span class="mr-auto"></span>
                <form autocomplete="off" action="/" method="POST" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Artist Name" aria-label="Search For Artist" required novalidate>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        </nav>

		