<!DOCTYPE html>
<html>
    <head>
        <title>404 Not Found</title>
    </head>
    <body>
        <h1>Unknown URL</h1>
        <p>
            Unable to find the requested URL...
        </p>
    </body>
</html>