body, html{
	height: 100%;
	margin: 0;
}

a{
	color: inherit;
}

.app-text{
	color: #FCFCFC !important;
}

hr.black{
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.btn-outline-success{
    color:  white !important;
    border-color: #5f2d96 !important;
}

.btn-outline-success:hover{
    background-color: #5f2d96 !important;
    color:  white !important;
    border-color: #5f2d96 !important;
}

.btn-outline-success:focus{
    box-shadow: 0 0 0 .2rem rgb(95,45,150, .5) !important;
}

div.king{
    height: 100vh;
    background-color: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 0;
}

.navbar{
    background: rgb(113,113,113);
    background: -moz-radial-gradient(circle, rgba(113,113,113,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(113,113,113,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(113,113,113,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#717171",endColorstr="#000000",GradientType=1);
}

h1.stats{
    font-size: 4rem;
}

img.round-img{
    padding: .25rem;
    background-color: rgb(200,200,200);
    border: 1.5px solid rgb(190,190,190);
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 4px 4px 3px rgb(0,0,0,.4),
                8px 8px 13px rgb(0,0,0,.15),
                18px 18px 23px rgb(0,0,0,.15);
}

img.main{
    padding: .25rem;
    background-color: rgb(200,200,200);
    border: 1.5px solid rgb(190,190,190);
    border-radius: 50%;
    max-height: 100%;
    max-width: auto;
    object-fit: cover;
    box-shadow: 4px 4px 3px rgb(0,0,0,.4),
                8px 8px 13px rgb(0,0,0,.15),
                18px 18px 23px rgb(0,0,0,.15);
}

a.slick{
    color: white !important;
}

a.slick:hover{
    color: #5f2d96 !important;
}

a.slick:active{
    color: #5f2d96 !important;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.form-control:focus {
    outline: none;
    border: 1px solid #5f2d96 !important;
    -webkit-box-shadow: 0 0 0 .2rem rgb(95,45,150, .5) !important;
    -moz-box-shadow: 0 0 0 .2rem rgb(95,45,150, .5) !important;
    box-shadow: 0 0 0 .2rem rgb(95,45,150, .5) !important;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:  100%;
    background-color: #202020;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.footer-link{
    color: inherit !important;
}

.full-row{
    height: 33%;
}

.full-height{
    height: 100%;
}

.graph{
    background-color: white;
    background: -moz-linear-gradient(21deg, rgba(125,0,120,1) 0%, rgba(145,82,187,1) 44%, rgba(26,0,126,1) 100%);
    background: -webkit-linear-gradient(21deg, rgba(125,0,120,1) 0%, rgba(145,82,187,1) 44%, rgba(26,0,126,1) 100%);
    background: linear-gradient(21deg, rgba(125,0,120,1) 0%, rgba(145,82,187,1) 44%, rgba(26,0,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d0078",endColorstr="#1a007e",GradientType=1);
    width: 100%;
    height: auto;
    border: solid 2px rgb(0,0,0,.1);
    border-radius: 1%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 3px rgb(0,0,0,.4),
                8px 8px 13px rgb(0,0,0,.15),
                18px 18px 23px rgb(0,0,0,.15);
}

.list{
    height: 450px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    margin-top: auto;

}

.list .item{
    min-width: 375px;
    height: 375px;
    line-height: 400px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px
}

.img-item img{
    padding: .25rem;
    background-color: rgb(200,200,200);
    border: 1.5px solid rgb(190,190,190);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    box-shadow: 4px 4px 3px rgb(0,0,0,.4),
                8px 8px 13px rgb(0,0,0,.15),
                18px 18px 23px rgb(0,0,0,.15);
    transition: box-shadow 250ms;
}

.img-item img:hover{
    box-shadow: 0 0 7px #f6a758,
                0 0 14px #ffb70a,
                0 0 25px #ff5500;
}

.desc{
    color: #004f01 !important;
    font-weight: 700;
}

.search img{
    object-fit: cover;
    width: 275px;
    height: 275px;
}

.text-shadow{
    text-shadow: 0px 4px 3px rgb(0,0,0,.2),
                0px 8px 13px rgb(0,0,0,.07),
                0px 18px 23px rgb(0,0,0,.07);
}

#myCanvas{
	background-color: white;
}

#artistName{
    font-size: 5rem;
}

#null{
    width: 450px !important;
    height: 450px !important;
}

#target-artist{
    width: 450px !important;
    height: 450px !important
}